[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KinMixLite"]
	path = KinMixLite
	url = https://github.com/cran/KinMixLite
[submodule "Nmix"]
	path = Nmix
	url = https://github.com/cran/Nmix
[submodule "gRaven"]
	path = gRaven
	url = https://github.com/cran/gRaven
